<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的第一个网页</title>
    <!-- <link rel="stylesheet" href="css/semantic.min.css"> -->
    <link rel="stylesheet" href="css/mystyle.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>

</head>
<body>
    <div id="home">
        <h1>我的第一个网页</h1>
        <img src="img/admin.jpg" alt="">
        <hr>
        <p v-if="movies.length==0">尚未获取</p>
        <div class="imglist">
            <img v-for="img in movies" :src="apiurl+img.pic" alt="">
        </div>
        <button @click="getDate()">获取视频</button>
    </div>
<script>
    new Vue({
        el: '#home',
        data:{
            apiurl: 'https://api.dweb.club/',
            movies:[],
        },
        methods:{
            getDate(){
                let self = this
                console.log("开始获取")
                axios({
                    method: 'get',
                    url:"https://api.dweb.club/dweb-api/get-index-data",
                    type:"json",
                }).then(function(res){
                    console.log(res.data.newsdata)
                    self.movies = res.data.newsdata
                })
            }
        },
    })
</script>
</body>
</html>